
.blockItemSelect {
    display: flex;
    justify-content: center;
}

.ticket-Item {
    padding: 1rem;
    width: 100%;
    text-align: left;

    .col-3 {
        text-align: right;
    }
}



// Large devices (desktops, less than 1200px)
@media (max-width: 1279px) {
    .block {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    #section-concert-list .search-group {
        width: 80%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

    #section-concert-list .block-content .content .ticket-Item {
        .col-2 {
            margin: 12px 0;
        }

        .col-3 {
            text-align: left;
        }
    }
}