#delevery {
    margin: 1rem;
    margin-top: 0;
    .block-delevery {
        background-color: white;
        padding: 2rem;
        text-align: left;
        border-style: solid;
        border-color: gray;
        border-radius: 0.5rem;
        h6{
            color: gray;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    #delevery {
        margin: 0;
        margin-bottom: 1rem;
        .block-delevery {
            padding: 1rem;
        }
    }
}