//----------------- #section Header --------------------


#final-cost-result {

    .block-content {
        background-color: teal;
        text-align: center;

        height: 50vh;
    }

}





// Large devices (desktops, less than 1200px)
@media (max-width: 1279px) {
    .block {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    #section-ticket-list .search-group {
        width: 80%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

    #section-ticket-list .block-content .content .ticket-Item {
        .col-2 {
            margin: 12px 0;
        }
        .col-3 {
            text-align: left;
        }
    }
}