
#section-stage {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    width: 100%;
    .block {
        text-align: center;
        width: 70%;
        padding: 1rem;
    }

    h3 {
        color: white;
        margin: 0;
    }

    .stage-container {
        width: 100%;
    }


    .stage-main {
        background-color: black;
        padding: 0.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        border-style: solid;
        border-color: white;
        border-width: 1rem;
        border-top-width: 0;
    }

    .stage-back {
        padding: 2rem;
        margin: 0 !important;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;

        border-style: solid;
        border-color: white;
        border-width: 1rem;
        border-bottom-width: 0;
    }

    .stage {
        padding: 1rem;
        margin: 0 !important;
        border-style: solid;
        border-color: white;
    }
    .stage-left {
        padding: 1rem;
        margin: 0 !important;
        border-bottom-left-radius: 3rem;

        border-style: solid;
        border-color: white;
        border-bottom-width: 1rem;
        border-left-width: 1rem;
    }
    .stage-right {
        padding: 1rem;
        margin: 0 !important;

        border-style: solid;
        border-bottom-right-radius: 3rem;
        border-color: white;
        border-bottom-width: 1rem;
        border-right-width: 1rem;
    }
    .stage-middle {
        padding: 1rem;

        border-style: solid;
        border-color: white;
        border-bottom-width: 1rem;
    }


    .stage-close{
        background-color: #989999;
    }   
}




// Large devices (desktops, less than 1200px)
@media (max-width: 1279px) {}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

    #section-stage .block {
        width: 85%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}