@use '../../../styles//base.scss' as base;
;

#section-stage {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    width: 100%;
    
    border-color: white;

    font-size: 150%;
    color: white;
    

    .block {
        text-align: center;
        width: 70%;
        padding: 1rem;
    }
    .stage-container {
        width: 100%;
    }



 


    .stage {
        padding: 2%;
        border-style: solid;

    }
    .stage:hover {
        background-color: base.$theme-color-main;
    }

    .stage-close {
        background-color: #989999;
    }
    .stage-close:hover {
        background-color:#555555;
    }

    .stage-left {
        border-width: 0.2rem;
        border-left-width: 1rem;
        border-bottom-left-radius: 3rem;
    }
    .stage-right {
        border-width: 0.2rem;
        border-right-width: 1rem;
        border-bottom-right-radius: 3rem;

    }

    .stage-left-no-border {
        border-bottom-left-radius: 3rem;
    }
    .stage-right-no-border {
        border-bottom-right-radius: 3rem;
    }

    .stage-middle {
    }


    .stage-main {
        background-color: black;
        padding: 2%;
        border-style: solid;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        border-width: 1rem;
        border-top-width: 0;
    }
    .stage-back {
        padding: 2%;
        border-style: solid;

        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
      
        border-width: 1rem;
        border-bottom-width: 0rem;
    }
}




// Large devices (desktops, less than 1200px)
@media (max-width: 1279px) {}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

    #section-stage .block {
        width: 85%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {}