#stage-list-select {
    padding-top: 0px;
    background-color: white;

    .header {
        h3 {
            color: white;
        }
    }

    .block-content {
        height: 60vh !important;
       

        text-align: center;
        hr{
            margin: 0px;
        }
    }
}