


#stage-list {
    .show-detail {
        padding: 2rem;
        text-align: left;

        h3,h4,h5 {
            color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .block-content {
        background-color: #e7ecf2;
        text-align: center;
    }

    .right-content{
        border: 0.05rem solid rgb(171, 165, 165);
    }
}