#stage-list-select {
    // padding-top: 1rem;
    // padding-bottom: 1rem;

    padding-top: 0px;
    // margin-top: -1rem;
    background-color: white;

    .header {
        // padding-top: 1rem;
        // padding-bottom: 1rem;

        hr {
            margin: 0;
        }

        h4 {
            padding-top: 0.5rem;
        }
    }

    .block-content {
        // background-color: teal;
        // background-color: #e7ecf2;
        text-align: center;

        hr{
            margin: 0px;
        }
    }


}