//----------------- #section Header --------------------


#section-concert-list {

    .show-detail {
        background-color: #aa162bed; //  #aa162b;
        // margin: 2rem 0;
        margin-bottom: 1rem;
        padding: 2rem;
        text-align: left;

        h3,h4,h5 {
            color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }
    }
    
    .search-group {
        margin: 0 auto;
        width: 50%;
    }
    
    .block-content {
        margin: 2rem 0;
        text-align: center;
    }
}





// Large devices (desktops, less than 1200px)
@media (max-width: 1279px) {
 
}


// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    #section-concert-list .search-group {
        width: 80%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}