#cost-total {
    margin: 1rem;
    margin-top: 0;
    .block-total {
        height: 50vh;
        background-color: white;
        padding: 2rem;
        text-align: left;
        border-style: solid;
        border-color: gray;
        border-radius: 0.5rem;
        h6{
            color: gray;
        }
    }
}