#cost-total {
    margin: 1rem;
    margin-top: 0;
    margin-left: 0;

    .block-total {
        background-color: white;
        padding: 2rem;
        text-align: left;
        border-style: solid;
        border-color: gray;
        border-radius: 0.5rem;
    }


    .item-row {
        margin-bottom: 0.5rem !important;

        .col-1 {
            text-align: left;
        }
        .col-2 {
            text-align: right;
        }
    }

    .btn-place-order{
        width: 100%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    #cost-total {
        margin: 1rem;
        margin-top: 0;
        margin-left: 1rem;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    #cost-total {
        .block-total {
            padding: 1rem;
        }
    }
}