#delevery {


    .block-delevery {
        background-color: white;
        padding: 2rem;
        text-align: left;
        border-style: solid;
        border-color: gray;
        border-radius: 0.5rem;
        h6{
            color: gray;
        }
    }
}