#stage-list-select {
   

    padding-top: 0px;
    background-color: white;

    .header {
        background-color: #aa162b;
       
        h3 {
            color: white;
        }
    }

    .block-content {
        min-height: 40vh !important;
        text-align: center;
        hr{
            margin: 0px;
        }
    }


}